---
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import Resource from "../../../components/Resource.astro";
import FilteredTags from "../../../components/Utilities/FilteredTags.astro";

export async function getStaticPaths() {
	const allResources = await getCollection("resources");
	const uniqueTags = [...new Set(allResources.map((resource) => resource.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredResources = allResources.filter((resource) => resource.data.tags.includes(tag));
		return {
			params: { tag },
			props: { resources: filteredResources },
		};
	});
}

const { tag } = Astro.params;
const { resources } = Astro.props;

const allResources = await getCollection("resources");
const uniqueTags = [...new Set(allResources.map((resource) => resource.data.tags).flat())];
---

<Layout
	pageTitle={`Resources - ${tag}`}
	description={`A collection of Resources & Documents Tagged with ${tag}`}
>
	<section
		class="lg-px-24 container prose max-w-none bg-base-200 px-8 py-10 sm:px-20 md:px-36 lg:px-32 xl:px-40 2xl:px-56"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Resources & Documents</h1>
		<FilteredTags contentType="resources" uniqueTags={uniqueTags} tag={tag} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				resources.map((resource, index) => (
					<Resource
						title={resource.data.title}
						description={resource.data.description}
						cover={resource.data.cover}
						coverAlt={resource.data.coverAlt}
						url={resource.slug}
						type={resource.data.type}
						loadingMode={index < 3 ? "eager" : "lazy"}
					/>
				))
			}
		</ul>
	</section>
</Layout>
