---
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import Project from "../../../components/Project.astro";
import FilteredTags from "../../../components/Utilities/FilteredTags.astro";

export async function getStaticPaths() {
	const allProjects = await getCollection("projects");
	const uniqueTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredProjects = allProjects.filter((project) => project.data.tags.includes(tag));
		return {
			params: { tag },
			props: { projects: filteredProjects },
		};
	});
}

const { tag } = Astro.params;
const { projects } = Astro.props;

const allProjects = await getCollection("projects");
const uniqueTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];
---

<Layout
	pageTitle={`Projects - ${tag}`}
	description={`A collection of Portfolio Projects Tagged with ${tag}`}
>
	<section
		class="lg-px-24 container prose max-w-none bg-base-200 px-8 py-10 sm:px-20 md:px-36 lg:px-32 xl:px-40 2xl:px-56"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Portfolio Projects</h1>
		<FilteredTags contentType="projects" uniqueTags={uniqueTags} tag={tag} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				projects.map((project, index) => (
					<Project
						title={project.data.title}
						description={project.data.description}
						cover={project.data.cover}
						coverAlt={project.data.coverAlt}
						url={project.slug}
						loadingMode={index < 3 ? "eager" : "lazy"}
					/>
				))
			}
		</ul>
	</section>
</Layout>
