---
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import Project from "../../../components/Project.astro";
import TagRouteTagFilters from "../../../components/TagRouteTagFilters.astro";

export async function getStaticPaths() {
	const allProjects = await getCollection("projects");
	const uniqueTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredProjects = allProjects.filter((project) => project.data.tags.includes(tag));
		return {
			params: { tag },
			props: { projects: filteredProjects },
		};
	});
}

const { tag } = Astro.params;
const { projects } = Astro.props;

const allProjects = await getCollection("projects");
const uniqueTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];
---

<Layout
	pageTitle={`Projects - ${tag}`}
	description={`A collection of Portfolio Projects Tagged with ${tag}`}
>
	<section
		class="lg-px-[6rem] container prose max-w-none bg-base-200 px-[2rem] py-10 sm:px-[5rem] md:px-[9rem] lg:px-[8rem] xl:px-[10rem] 2xl:px-[14rem]"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Portfolio Projects</h1>
		<TagRouteTagFilters contentType="projects" uniqueTags={uniqueTags} tag={tag} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				projects.map((project, index) => (
					<Project
						title={project.data.title}
						description={project.data.description}
						cover={project.data.cover}
						coverAlt={project.data.coverAlt}
						url={project.slug}
						loadingMode={index < 3 ? "eager" : "lazy"}
					/>
				))
			}
		</ul>
	</section>
</Layout>
