---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Post.astro";
import TagList from "../../components/TagList.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout pageTitle={tag}>
	<section class="bg-200 container prose mx-auto px-6 py-10">
		<TagList tags={uniqueTags} />
		<p>Posts tagged with {tag}</p>
		<ul>
			{posts.map((post) => <Post url={`/posts/${post.slug}/`} title={post.data.title} />)}
		</ul>
	</section>
</Layout>
