---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
import { getCollection } from "astro:content";
import PageRouteTagFilters from "../components/PageRouteTagFilters.astro";

const allPosts = await getCollection("posts");
const uniqueBlogTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const pageTitle = "Blog - Jordan Muller - Posts on Progress, Updates & Insights";
const description =
	"Want updates on my life and journey as they happen? I share relevant information, opinions, & progress in the world of tech here on my blog.";
---

<Layout pageTitle={pageTitle} description={description}>
	<section
		class="lg-px-[6rem] container prose max-w-none bg-base-200 px-[2rem] py-10 sm:px-[5rem] md:px-[9rem] lg:px-[8rem] xl:px-[10rem] 2xl:px-[14rem]"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Blog Posts</h1>
		<PageRouteTagFilters contentType="posts" uniqueTags={uniqueBlogTags} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				allPosts.map((post, index) => (
					<Post
						title={post.data.title}
						description={post.data.description}
						cover={post.data.cover}
						coverAlt={post.data.coverAlt}
						url={post.slug}
						loadingMode={index < 3 ? "eager" : "lazy"}
					/>
				))
			}
		</ul>
	</section>
</Layout>
