---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Portfolio - Jordan Muller";

import Project from "../components/Project.astro";
const allProjects = await getCollection("projects");
const uniqueTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];
import TagList from "../components/Utilities/TagList.astro";
---

<Layout pageTitle={pageTitle}>
	<section
		class="lg-px-[6rem] container prose max-w-none bg-base-200 px-[2rem] py-12 sm:px-[5rem] md:px-[9rem] lg:px-[8rem] xl:px-[10rem] 2xl:px-[14rem]"
	>
		<h1 class="mb-1 text-center lg:text-left">Portfolio Projects</h1>
		<p class="mt-1 text-center leading-[32px] lg:text-left">
			<span class="px-1">All Projects</span>
		</p>
		<p class="my-8 text-center font-bold leading-[30px]">Filter Projects by Tag</p>
		<TagList tags={uniqueTags} contentType="projects" />
		<ul class="mt-12 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				allProjects.map((project) => (
					<Project
						title={project.data.title}
						description={project.data.description}
						url={`/portfolio/${project.slug}/`}
						images={project.data.images}
					/>
				))
			}
		</ul>
	</section>
</Layout>
