---
import Layout from "../layouts/Layout.astro";
import Resource from "../components/Resource.astro";
import { getCollection } from "astro:content";
import BaseTagsFilter from "../components/Utilities/BaseTagsFilter.astro";

const allResources = await getCollection("resources");
const uniqueResourceTags = [...new Set(allResources.map((resource) => resource.data.tags).flat())];

const pageTitle = "Resources - Jordan Muller - View Certificates, Resume & More";
const description =
	"Curious about my professional credentials and qualifications? On my Resources page, I showcase my achievements including my current certifications & resume.";
---

<Layout pageTitle={pageTitle} description={description}>
	<section
		class="lg-px-24 container prose max-w-none bg-base-200 px-8 py-10 sm:px-20 md:px-36 lg:px-32 xl:px-40 2xl:px-56"
		data-pagefind-ignore="all"
	>
		<h1 class="text-center">Resources & Documents</h1>
		<BaseTagsFilter contentType="resources" uniqueTags={uniqueResourceTags} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				allResources.map((resource, index) => (
					<Resource
						title={resource.data.title}
						description={resource.data.description}
						cover={resource.data.cover}
						coverAlt={resource.data.coverAlt}
						url={resource.slug}
						type={resource.data.type}
						loadingMode={index < 3 ? "eager" : "lazy"}
					/>
				))
			}
		</ul>
	</section>
</Layout>
