---
import { Image } from "astro:assets";
const { title, url, description, cover, coverAlt, loadingMode } = Astro.props;
---

<li class="gradient-card-bg relative m-0 h-full list-none rounded-2xl p-2 shadow-2xl">
	<article class="mt-0 h-full rounded-2xl bg-base-100 pb-16">
		<figure class="mx-0 mb-4 mt-0 w-full">
			<Image
				src={cover}
				alt={coverAlt}
				loading={loadingMode}
				class="aspect-[5/3] rounded-t-2xl bg-cover object-cover"
				quality="mid"
			/>
		</figure>
		<h3 class="mt-0 px-4">{title}</h3>
		<p class="px-4 text-lg">{description}</p>
		<a
			href={`/blog/${url}`}
			title={`View ${title} Blog Post`}
			class="btn btn-accent absolute bottom-8 right-8"
		>
			View Post</a
		>
	</article>
</li>
