---
import { Image } from "astro:assets";
const { title, url, description, cover, coverAlt, loadingMode } = Astro.props;
---

<li class="gradient-card-bg rounded-2xl p-2 shadow-2xl">
	<div class="card my-0 h-[100%] rounded-2xl bg-base-100 shadow-xl">
		<figure class="m-0 w-full">
			<Image src={cover} alt={coverAlt} loading={loadingMode} />
		</figure>
		<div class="prose card-body w-full max-w-none">
			<h3 class="card-title mb-0">{title}</h3>
			<p>{description}</p>
			<div class="card-actions justify-end">
				<a href={`/blog/${url}`} title={`View ${title} Blog Post`} class="btn btn-accent">
					View Post
				</a>
			</div>
		</div>
	</div>
</li>
<style>
	li {
		display: block;
		list-style: none;
		margin: 0;
	}
	img {
		margin: 0;
		aspect-ratio: 5/3;
		background-size: cover;
		object-fit: cover;
	}
</style>
