---
const { title, url, description, images } = Astro.props;
---

<li class="gradient-card-bg rounded-2xl p-2 shadow-2xl shadow-[#00000080]">
	<div class="card my-0 h-[100%] rounded-2xl bg-base-100 shadow-xl">
		<figure class="m-0 w-full">
			<img
				src={images[0].url}
				alt={images[0].alt}
				title=`${title} Blog Post Cover Image`
				class="mb-0 aspect-[5/3] bg-cover object-cover"
				loading="lazy"
			/>
		</figure>
		<div class="prose card-body w-full max-w-none">
			<h2 class="card-title mb-0">{title}</h2>
			<p>{description}</p>
			<div class="card-actions justify-end">
				<a href={url} title=`View ${title} Blog Post` class="btn btn-accent">View Post</a>
			</div>
		</div>
	</div>
</li>
<style>
	li {
		display: block;
		list-style: none;
		margin: 0;
	}
</style>
