---
import { Image } from "astro:assets";
const { key, title, url, description, cover, coverAlt, loadingMode } = Astro.props;
---

<li
	class={`gradient-card-bg relative my-0 h-full rounded-2xl p-2 ${
		key > 2 ? "lg:hidden xl:block" : ""
	}`}
>
	<article class="my-0 h-full rounded-2xl bg-base-100 pb-20">
		<figure class="gradient-bg m-0 w-full rounded-t-2xl">
			<Image
				src={cover}
				alt={coverAlt}
				loading={loadingMode}
				class="aspect-[4/3] rounded-t-2xl object-cover object-top"
				quality="mid"
			/>
		</figure>
		<h3 class="card-title px-8">{title}</h3>
		<p class="px-8">{description}</p>
		<a
			href={`/portfolio/${url}`}
			title=`View ${title} Portfolio Project`
			class="btn btn-accent absolute bottom-8 right-8">View Project</a
		>
	</article>
</li>
<style>
	li {
		display: block;
		list-style: none;
		margin: 0;
	}
</style>
