---
import { Image } from "astro:assets";
const { key, title, url, description, cover, coverAlt, loadingMode } = Astro.props;
---

<li class={`gradient-card-bg rounded-2xl p-2 shadow-2xl  ${key > 2 ? "lg:hidden xl:block" : ""}`}>
	<div class="gradient-bg card my-0 h-[100%] rounded-2xl bg-base-100 shadow-xl">
		<figure class="m-0 w-full">
			<Image src={cover} alt={coverAlt} loading={loadingMode} />
		</figure>
		<div class="prose card-body w-full max-w-none rounded-b-2xl bg-base-100">
			<h2 class="card-title mb-0">{title}</h2>
			<p>{description}</p>
			<div class="card-actions justify-end">
				<a href={`/portfolio/${url}`} title=`View ${title} Portfolio Project` class="btn btn-accent"
					>View Project</a
				>
			</div>
		</div>
	</div>
</li>
<style>
	li {
		display: block;
		list-style: none;
		margin: 0;
	}
</style>
