---
import { getCollection } from "astro:content";
import Project from "../components/Project.astro";

const allProjects = (await getCollection("projects"))
	.sort((a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime())
	.slice(0, 3);

const uniqueProjectTags = [...new Set(allProjects.map((project) => project.data.tags).flat())];
---

<section class="mb-12" data-pagefind-ignore="all">
	<h2 class="text-center">Recent Portfolio Projects</h2>
	<p class="indent-6 md:text-lg lg:text-left">
		In this section, you'll discover a curated collection of my recent work & portfolio projects.
		These projects span a range of technologies and industries, illustrating my ability to adapt and
		excel in various environments.
	</p>
	<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
		{
			allProjects.map((project) => (
				<Project
					title={project.data.title}
					description={project.data.description}
					url={`/portfolio/${project.slug}/`}
					images={project.data.images}
				/>
			))
		}
	</ul>
	<p class="indent-6 md:text-lg lg:text-left">
		Whether you're interested in specific technologies, industries, or just seeking inspiration, use
		the convenient dropdown menu to filter projects by tags.
	</p>
	<p class="indent-6 md:text-lg lg:text-left">
		Alternatively, you can choose to view all my blog posts to get a comprehensive understanding of
		my work. Dive in and explore the projects that have challenged, inspired, and honed my skills as
		a developer.
	</p>
	<div class="flex justify-center">
		<div class="card flex max-w-3xl grow bg-base-300 p-2 shadow-2xl">
			<div class="card gap-4 bg-base-100 p-4">
				<div class="flex w-full max-w-3xl flex-col justify-center sm:join sm:flex-row">
					<select
						id="projectsTagSelect"
						class="join-item select select-bordered w-full rounded-b-none sm:rounded-lg"
						onchange="updateProjectButtonLink()"
						aria-label="Dropdown to Select Tag to Filter Portfolio Posts"
						title="Dropdown to Select Tag to Filter Portfolio Projects"
					>
						<option value="All Project Tags" selected>All Project Tags</option>
						{
							uniqueProjectTags.map((tag) => (
								<option title={"Filter by " + tag + " Tag"} value={tag}>
									{tag.toUpperCase()}
								</option>
							))
						}
					</select>
					<a
						id="projectTagLink"
						href="/portfolio"
						title="Filter Portfolio Projects by Tag"
						class="btn btn-secondary join-item h-auto rounded-t-none text-sm sm:rounded-lg"
						>Filter Projects by Tag
					</a>
				</div>
				<a
					href="/portfolio"
					title="View All Portfolio Projects"
					class="btn btn-accent h-auto w-full max-w-3xl text-lg">View All Portfolio Projects</a
				>
			</div>
		</div>
	</div>
</section>

<script is:inline>
	function updateProjectButtonLink() {
		const selectProjectsElement = document.getElementById("projectsTagSelect");
		const projectsLink = document.getElementById("projectTagLink");
		const selectedProjectTag = selectProjectsElement.value;

		if (selectedProjectTag === "All Project Tags") {
			projectsLink.href = `/portfolio`;
		} else {
			projectsLink.href = `/portfolio/tags/${selectedProjectTag}`;
		}
	}
</script>
