---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Post from "../../../components/Post.astro";
import TagRouteTagFilters from "../../../components/TagRouteTagFilters.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout pageTitle={`Posts - ${tag}`} description={`A collection of Blog Posts Tagged with ${tag}`}>
	<section
		class="lg-px-[6rem] container prose max-w-none bg-base-200 px-[2rem] py-10 sm:px-[5rem] md:px-[9rem] lg:px-[8rem] xl:px-[10rem] 2xl:px-[14rem]"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Blog Posts</h1>
		<TagRouteTagFilters contentType="posts" uniqueTags={uniqueTags} tag={tag} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => (
					<Post
						title={post.data.title}
						description={post.data.description}
						cover={post.data.cover}
						coverAlt={post.data.coverAlt}
						url={post.slug}
					/>
				))
			}
		</ul>
	</section>
</Layout>
<style>
	li {
		display: block;
		list-style: none;
		margin: 0;
	}
	img {
		margin: 0;
		aspect-ratio: 5/3;
		background-size: cover;
		object-fit: cover;
	}
</style>
