---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Post from "../../../components/Post.astro";
import FilteredTags from "../../../components/Utilities/FilteredTags.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout pageTitle={`Posts - ${tag}`} description={`A collection of Blog Posts Tagged with ${tag}`}>
	<section
		class="lg-px-24 container prose max-w-none bg-base-200 px-8 py-10 sm:px-20 md:px-36 lg:px-32 xl:px-40 2xl:px-56"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Blog Posts</h1>
		<FilteredTags contentType="posts" uniqueTags={uniqueTags} tag={tag} />
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post, index) => (
					<Post
						title={post.data.title}
						description={post.data.description}
						cover={post.data.cover}
						coverAlt={post.data.coverAlt}
						url={post.slug}
						loadingMode={index < 3 ? "eager" : "lazy"}
					/>
				))
			}
		</ul>
	</section>
</Layout>
