---
import { getCollection } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import Post from "../../../components/Post.astro";
import TagList from "../../../components/Utilities/TagList.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("posts");
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout pageTitle={`Posts - ${tag}`} description={`A collection of Posts Tagged with ${tag}`}>
	<section
		class="lg-px-[6rem] container prose max-w-none bg-base-200 px-[2rem] py-10 sm:px-[5rem] md:px-[9rem] lg:px-[8rem] xl:px-[10rem] 2xl:px-[14rem]"
		data-pagefind-ignore="all"
	>
		<h1 class="mb-8 text-center">Blog Posts</h1>
		<div class="card bg-base-300 p-2 shadow-2xl">
			<div class="card bg-base-100 p-4">
				<p class="my-0 text-center text-lg font-bold leading-[32px]">
					Tagged with <span class="btn btn-outline btn-sm px-1">{tag}</span>
				</p>
				<TagList tags={uniqueTags} contentType="posts" />
				<a
					href="/blog"
					title="Remove Filter to View All Blog Posts"
					class="btn btn-outline btn-sm mb-2 mt-4 h-auto px-4 text-center font-bold"
					>Clear Filter to View All Posts</a
				>
			</div>
		</div>
		<hr class="mx-8" />
		<ul class="my-8 grid w-full grid-cols-1 gap-8 pl-0 md:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => (
					<Post
						title={post.data.title}
						description={post.data.description}
						url={`/blog/${post.slug}/`}
						images={post.data.images}
					/>
				))
			}
		</ul>
	</section>
</Layout>
