---
import TagList from "./TagList.astro";
const { contentType, uniqueTags, tag, route } = Astro.props;
const displayTag = tag.replace(/-/g, " ");
---

<section class="flex justify-center">
	<div class="card max-w-3xl bg-base-300 p-2">
		<div class="card bg-base-100 p-2 pt-4">
			<h2 class="mb-2 mt-0 text-center text-lg font-bold leading-8">
				Tagged with <span class="btn btn-outline btn-sm px-1 font-bold uppercase">{displayTag}</span
				>
			</h2>
			<TagList tags={uniqueTags} contentType={contentType} />
			<a
				href={route}
				title="Remove Filter to View All Blog Posts"
				class="btn btn-outline btn-sm mb-0 mt-2 h-auto text-center font-bold capitalize"
				>Clear Filter to View All {contentType}</a
			>
		</div>
	</div>
</section>
