---
import AstroLogo from "../../icons/logos/AstroLogo.astro";
import HTMLLogo from "../../icons/logos/HTMLLogo.astro";
import CSSLogo from "../../icons/logos/CSSLogo.astro";
import JavaScriptLogo from "../../icons/logos/JavaScriptLogo.astro";
import ReactLogo from "../../icons/logos/ReactLogo.astro";
import PythonLogo from "../../icons/logos/PythonLogo.astro";
import JupyterLogo from "../../icons/logos/JupyterLogo.astro";
import TypeScriptLogo from "../../icons/logos/TypeScriptLogo.astro";

const { tags, contentType } = Astro.props;

interface TagModifications {
	displayText?: string;
	fill?: string;
	btnClasses?: string;
	iconClasses?: string;
	importance?: number;
}

interface TagDetails {
	[key: string]: TagModifications;
}

const iconComponents: { [key: string]: any } = {
	astro: AstroLogo,
	html: HTMLLogo,
	css: CSSLogo,
	javascript: JavaScriptLogo,
	typescript: TypeScriptLogo,
	react: ReactLogo,
	python: PythonLogo,
	"jupyter notebook": JupyterLogo,
};

const tagDetails: TagDetails = {
	astro: {
		btnClasses: "bg-[#3f4252] text-[#ffffff]",
		importance: 5,
	},
	html: {
		fill: "#E34F26",
		btnClasses: "bg-[#F8F8F2] text-[#000000] btn-outline border-[#E34F26] border-4",
		importance: 10,
	},
	javascript: {
		displayText: "JavaScript",
		btnClasses: "bg-[#F7DF1E] text-[#000000]",
		importance: 10,
	},
	typescript: {
		displayText: "TypeScript",
		btnClasses: "bg-[#007ACC] text-[#ffffff]",
		importance: 10,
	},
	css: {
		btnClasses: "bg-[#1572B6] text-[#ffffff]",
		importance: 10,
	},
	python: {
		fill: "#FFDD54",
		btnClasses: "bg-[#1572B6] text-[#ffffff]",
		importance: 10,
	},
	react: {
		btnClasses: "bg-[#61DAFB] text-[#000000]",
		importance: 9,
	},
	resume: {
		displayText: "Resume",
		importance: 10,
	},
	certificates: {
		displayText: "Certificates",
		importance: 9,
	},
	pdf: {
		displayText: "PDF",
		importance: 8,
	},
	documents: {
		displayText: "Documents",
		importance: 8,
	},
	agile: {
		displayText: "Agile",
		importance: 7,
	},
	scrum: {
		displayText: "Scrum",
		importance: 6,
	},
	"itil-4": {
		displayText: "ITIL 4",
		importance: 5,
	},
	"psm-1": {
		displayText: "PSM 1",
		importance: 5,
	},
	"jupyter-notebook": {
		fill: "#F37726",
		btnClasses: "bg-[#44475A] text-[#ffffff]",
	},
	"e-commerce": {
		displayText: "E-Commerce",
	},
	ai: {
		displayText: "AI",
	},
	"machine-learning": {
		displayText: "Machine Learning",
	},
	"neural-networks": {
		displayText: "Neural Networks",
	},
	cnns: {
		displayText: "CNNs",
	},
	"scrum-org": {
		displayText: "Scrum.org",
	},
	"tailwind-css": {
		displayText: "Tailwind CSS",
	},
	daisyui: {
		displayText: "daisyUI",
	},
	nodejs: {
		displayText: "Node.js",
	},
	npm: {
		displayText: "npm",
	},
	vite: {
		displayText: "Vite",
	},
	"contentful-cms": {
		displayText: "Contentful CMS",
	},
	jest: {
		displayText: "Jest",
	},
	"scikit-learn": {
		displayText: "scikit-learn",
	},
	sqlite: {
		displayText: "SQLite",
	},
	sqlalchemy: {
		displayText: "SQLAlchemy",
	},
	numpy: {
		displayText: "NumPy",
	},
	pypi: {
		displayText: "PyPI",
	},
	eslint: {
		displayText: "ESLint",
	},
	git: {
		displayText: "git",
	},
	"vs-code": {
		displayText: "VS Code",
	},
	github: {
		displayText: "GitHub",
	},
};

function getUrlPrefix(contentType: string): string {
	switch (contentType) {
		case "projects":
			return "/portfolio/tags/";
		case "posts":
			return "/blog/tags/";
		case "resources":
			return "/resources/tags/";
		default:
			return "/blog/tags/";
	}
}

function getTagDisplayAndClass(tag: string): TagModifications {
	const lowerCaseTag = tag.toLowerCase();
	const tagModifications = tagDetails[lowerCaseTag] || {};

	let displayText;

	if (tagModifications.displayText) {
		displayText = tagModifications.displayText;
	} else {
		const tagWithSpaces = tag.replace(/-/g, " ");
		if (tag.length <= 4) {
			displayText = tag.toUpperCase();
		} else {
			displayText = tagWithSpaces.replace(/\b(\w)/g, (char) => char.toUpperCase());
		}
	}

	return {
		displayText,
		btnClasses: tagModifications.btnClasses || "btn-outline",
		fill: tagModifications.fill,
	};
}

tags.sort((a: string, b: string) => {
	const importanceA = tagDetails[a.toLowerCase()]?.importance || 0;
	const importanceB = tagDetails[b.toLowerCase()]?.importance || 0;

	if (importanceA > 0 && importanceB > 0) {
		return importanceB - importanceA;
	} else if (importanceA > 0) {
		return -1;
	} else if (importanceB > 0) {
		return 1;
	}
	return 0;
});

const visibleTags = tags.slice(0, 10);
const hiddenTags = tags.slice(10);
---

<div class="rounded-2xl bg-base-100 p-2">
	<div class="flex flex-wrap justify-center gap-2 p-2" data-pagefind-ignore="all">
		{
			visibleTags.map((tag: string) => {
				const { displayText, btnClasses, fill } = getTagDisplayAndClass(tag);
				const IconComponent = iconComponents[tag.toLowerCase()];
				const urlPrefix = getUrlPrefix(contentType);
				return (
					<a
						href={`${urlPrefix}${tag}`}
						title={`Filter by ${tag} Tag`}
						class={`btn ${btnClasses} btn-xs h-auto text-base md:btn-sm md:text-base`}
					>
						{IconComponent && <IconComponent size="16" fill={fill} />}
						{displayText}
					</a>
				);
			})
		}
	</div>
	{
		hiddenTags.length > 0 && (
			<>
				<hr class="mx-8 my-4" />
				<details class="collapse bg-base-200">
					<summary
						title="Open/Close Dropdown to View All Other Tags"
						class="h-auto cursor-pointer bg-base-300 py-4 text-center text-xl font-semibold text-base-content 
							focus-visible:bg-[#44475A]
							focus-visible:text-[#F8F8F2] active:bg-[#44475A] active:text-[#F8F8F2]"
						tabindex="0"
					>
						View All Other Tags
					</summary>
					<div class="collapse-content p-4">
						<div class="flex flex-wrap justify-center gap-2">
							{hiddenTags.map((tag: string) => {
								const { displayText, btnClasses, fill } = getTagDisplayAndClass(tag);
								const IconComponent = iconComponents[tag.toLowerCase()];
								const urlPrefix = getUrlPrefix(contentType);

								return (
									<a
										href={`${urlPrefix}${tag}`}
										title={`Filter by ${tag} Tag`}
										class={`btn ${btnClasses} btn-xs h-auto text-base`}
									>
										{IconComponent && <IconComponent size="16" fill={fill} />}
										{displayText}
									</a>
								);
							})}
						</div>
					</div>
				</details>
			</>
		)
	}
</div>
