---
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import ContentDetails from "../components/Utilities/ContentDetails.astro";

const { frontmatter } = Astro.props;
const formattedDate = new Date(frontmatter.publishDate).toISOString().split("T")[0];
---

<Layout pageTitle={frontmatter.title} description={frontmatter.description}>
	<article class="container prose mx-auto max-w-5xl px-8 py-10">
		<header class="flex flex-col items-center">
			<h1 class="mb-8 max-w-2xl text-center text-3xl">{frontmatter.title}</h1>
			<figure class="gradient-card-bg mb-4 mt-0 max-w-2xl rounded-3xl p-2">
				<Image
					src={frontmatter.cover}
					alt={frontmatter.coverAlt}
					class="gradient-bg m-0 aspect-[21/12] rounded-2xl object-cover p-2"
					loading="eager"
				/>
			</figure>
			<ContentDetails
				author={frontmatter.author}
				date={formattedDate}
				tags={frontmatter.tags}
				contentType="posts"
			/>
		</header>
		<slot />
	</article>
</Layout>
