---
import TagList from "../components/Utilities/TagList.astro";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const [coverImage, ...otherImages] = frontmatter.images;
const formattedDate = new Date(frontmatter.publishDate).toISOString().split("T")[0];
import { Icon } from "astro-icon";
---

<Layout pageTitle={frontmatter.title}>
	<article class="container prose mx-auto max-w-4xl p-6">
		<div class="mb-6 flex flex-col items-center">
			<h1 class="mb-0">{frontmatter.title}</h1>
			<img
				id="cover-image"
				src={coverImage.url}
				alt={coverImage.alt}
				class="my-0 max-h-[450px] max-w-full rounded-2xl object-cover"
			/>
			<div>
				<a href="#" class="btn btn-error"><Icon name="gridicons:site" class="h-6 w-6" />Live Demo</a
				>
				<a href="#" class="btn btn-secondary"
					><Icon name="mdi:github" class="h-6 w-6" />GitHub Repository</a
				>
			</div>
			<p class="text-xs sm:text-sm">
				Created by <a class="link link-accent" href="/about"
					><strong>{frontmatter.author}</strong></a
				> on <a class="btn btn-outline btn-xs h-auto px-1 py-0">{formattedDate}</a>
			</p>
			<TagList tags={frontmatter.tags} contentType="projects" />
		</div>
		<slot />
	</article>
</Layout>
<style>
	@media (max-width: 599px) {
		#cover-image {
			max-height: 300px;
			height: 300px;
		}
	}
</style>
